$slider-width: 100%;
$slider-height: 350px;
$background: #393939;
$primary: #82f9ff;
$secondary: #ff62b6;
$tertiary : #f6ff7b;
$white: #edf0f1;

@mixin setFont {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

@function rem($size) {
  @return $size / 16px * 1rem;
}